.banner {
    background-size: cover;
    /* background-size: contain; */
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    padding: 0px;
    /* height: calc(100vh - 70px); */
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /*background-attachment: fixed;*/
}

.banner .hero-content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner h1 {
    font-size: 2.6rem;
    margin: 0px;
}

.banner h2 {
    font-size: 24px;
    font-weight: lighter;
    opacity: 0.2rem;
    margin-bottom: 1.7rem;
}

/* Banner background image*/

.hero-main {
    background-image: linear-gradient(-220deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%), url(../../assets/background-map.jpg);
}

.hero-about-me {
    background-image: linear-gradient(-220deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%), url(../../assets/fluffy-hair.jpg)
}

.hero-travels {
    background-image: linear-gradient(-220deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%), url(../../assets/background-car.jpg);
}

/* MOBILE DISPLAY*/

@media (max-width: 760px) {
    p {
        padding: 0px auto;
    }
    .banner h1 {
        margin: .5rem 2rem;
        text-align: left;
    }
    .banner h2 {
        margin: 1.5rem 2rem;
        text-align: center;
    }
}
