.container {
    width: 100%;
    max-width: calc(100% - 2rem);
    margin: 0px auto;
    position: relative;
}

@media (min-width: 992px) {
    .container {
        max-width: 768px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 992px;
    }
}
