.avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.avatar-big {
    border-radius: 50%;
    border: 1px solid rgb(210, 210, 210);
    height: 200px;
}

/* Homepage image article*/

.grid-image img {
    margin: .5rem;
    width: calc(50% - .65rem);
    border-radius: .5rem;
}

@media (min-width: 768px) {
    .grid-image img {
        margin: 1rem;
        width: calc(50% - 1.2rem);
    }
}

.grid-image img:nth-child(odd) {
    margin-left: 0;
}

.grid-image img:nth-child(even) {
    margin-right: 0;
}

/*About me section*/

.infos-flex {
    display: flex;
    justify-content: space-between;
}

/*Travels section*/

.img-article {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
}

.img-article img {
    margin: 10px 0px;
    border-radius: 6px;
    width: 100%;
    height: 600px;
}
